body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nev_top{
    margin-top: 1px;
    width: 100%;
    display: flex;
    border-bottom: solid 1px black;
    justify-content: space-between;
}
.sitelink{
    margin-left: 20px;
}
.about_right{
    width: 300px;
    margin-bottom: 1px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.location img{
    width: 12px;
    margin-right: 10px;
}
.about img{
    width: 12px;
    margin-right: 10px;
}
.about span{
    cursor: pointer;
}
.location span{
    cursor: pointer;
}
.login{
    margin-left: 20px;
    padding: 1px 15px;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
/*Nav top css end*/

nav{
    display: flex;
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.logo{
    margin-left: 5%;
    margin-top: 7px;
    
}
.call-lv-cart{
        margin-right:10%;
        margin-top: 15px;
}

.call-lv-cart i{
    font-size: 30px;
    padding: 0 30px;
    color: rgb(249, 86, 16);
}
.call-lv-cart span{
    margin-left: -30px;
}
/*Search box styling*/
.search-container {
    flex-grow: 0.1;
    display: flex;
    padding: 16px;
  }

  .search-container input[type="text"] {
    width: 100%;
    border: 1px solid orangered;
    outline:none;
    border-radius: 6px;
  }

  .search-container button {
    padding: 8px 10px;
    margin-left: -10px;
    border: 1px solid orangered;
    color: orange;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }


  /* after responsiv */
  .mini-screen-icon i{
    font-size: 22px;
    margin-top: 20px;
    margin-right: 30px;
    color: orangered;
  }
  .mini-screen-icon i:hover{
    color: rgb(175, 9, 9);
    cursor: pointer;
  }

  /* logo and search bar section end */

  .menu-row{
    background: orangered;
  }
  .menu-row ul{
    display: flex;
    justify-content: space-around;
  }
  .menu-row ul li{
    list-style: none;
    padding: 10px 0px;
    
  }
  .menu-row ul li a{
    text-decoration: none;
    color: white;
  }
  .menu-row ul li a:hover{

    text-decoration: underline;
  }